@import "bootstrap";

body {
    background: #fff;
    font-size: 15px;
}

.btn {
    margin: 5px;
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 2.5em;
}

.form-group {
    padding: 10px;
}

.linkable:hover {
    background-color: red;
}