@import "bootstrap";

body {
    background: #fff;
    font-size: 15px;
}

.btn {
    margin: 5px;
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

.form-group {
    padding: 10px;
}

.car-link {
    margin: 10px;
    padding: 10px;
}

.car-link img {
    max-width: 200px;
    height: 130px;
}

.car-link h4 a {
    color: #000;
}

.car-link:hover {
    background-color: rgb(199, 138, 58);
}

#show-car-img img {
    width: 350px;
}